

<p-autoComplete [(ngModel)]="country" name="basic" [suggestions]="filteredCountries"
(completeMethod)="filterCountries($event)" field="name" [size]="30"
placeholder="Type your favourite Country" [minLength]="1" >
</p-autoComplete>


<p-autoComplete [(ngModel)]="listCountries " name="basic" [suggestions]="filteredCountries"
(completeMethod)="filterCountries($event)" field="name" [size]="30"
placeholder="Type your favourite Country" [minLength]="1"  [multiple]="true">
</p-autoComplete>


<p-autoComplete id="instance" [(ngModel)]="countryInstance" name="instance"
[suggestions]="filteredCountryInstances"
(completeMethod)="filterCountryInstances($event)" field="dial_code">
</p-autoComplete>

<p-autoComplete [(ngModel)]="customCountry" name="template"
[suggestions]="filteredCustomCountries"
field="name" (completeMethod)="filterCustomCountries($event)"
[size]="30"  [minLength]="1" placeholder="Start your search">
<ng-template let-country pTemplate="item">
  <div class="ui-helper-clearfix" class="template-border">
    <img src="/assets/data/images/country/
      {{country.code.toLowerCase()}}.png" class="country-image"/>
    <div class="country-text">{{country.name}}</div>
   </div>
</ng-template>
</p-autoComplete>
