<!-- <p-menubar [model]="items"></p-menubar>

<br>

<p-dataTable [value]="cars">
  <p-column field="name" header="name"></p-column>
  <p-column field="age" header="age"></p-column>

</p-dataTable>


  -->


<h1>Mask</h1>
<div>
<app-mask></app-mask>
</div>
<br>
<h1>AutoComplete</h1>
<div>
<app-auto-complete></app-auto-complete>
</div>
<br>
<h1>Ship</h1>
<div>
<app-ships></app-ships>
</div>
<br>
<h1>Checkbox</h1>
<div>
<app-checkbox></app-checkbox>
</div>
<br>
<h1>Dropdown</h1>
<div>
<app-dropdown></app-dropdown>
</div>
<br>
<h1>Calendar</h1>
<div>
<app-calendar></app-calendar>
</div>
<br>
<h1>Password</h1>
<div>
<app-password></app-password>
</div>
<br>
<h1>Chart</h1>
<div>
<app-chart></app-chart>
</div>
